@import 'src/styles/utils.scss';
@import 'src/styles/colors.scss';

.button {
  padding: px(8) px(16);
  border: px(1) solid #e5e7eb;
  border-radius: px(8);
  background-color: $white;
  cursor: pointer;
}
