@import 'src/styles/utils.scss';
@import 'src/styles/colors.scss';

.RHFInput {
  width: 100%;
  div {
    width: 100%;
    padding-block: px(8);
    box-sizing: border-box;
    font-size: px(14);
  }
  input {
    width: 100%;
    padding: px(8);
    box-sizing: border-box;
    border: px(1) solid $borderColor;
    border-radius: px(8);
    background-color: $white;
  }
}
