:root {
  --white: #fff;
  --black: #000;
  --main-color: #fe7b7b;
  --main-disabled: #ffc6c6;
  --border-color: #e4e4e4;
  --border: 1px solid var(--border-color);
}

$black: #010101;
$white: #fff;
$borderColor: #e4e4e4;

$fontGray: #494a51;
$spacingDefalt: -0.031rem;
