@mixin flexLayout(
  $direction: row,
  $justifyContent: center,
  $alignItems: center,
  $gap: 0
) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justifyContent;
  align-items: $alignItems;
  gap: px($gap);
}

@function px($rem) {
  @return calc(($rem / 16) * 1rem);
}
