@import 'src/styles/utils.scss';
@import 'src/styles/colors.scss';

.userNoticeDetailContainer {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: px(16);
  box-sizing: border-box;

  header {
    width: 100%;
    @include flexLayout(row, flex-start, flex-start, 0);
    .prevButton {
      all: initial;
      cursor: pointer;
    }
  }

  .contentCard {
    width: 100%;
    min-height: px(300);
    margin-inline: px(16);
    box-sizing: border-box;
    @include flexLayout(column, flex-start, flex-start, 12);
    .kind {
    }
    .title {
    }
    .content {
      padding: 0;
      border: none;
    }
  }
}
