@import 'src/styles/utils.scss';
@import 'src/styles/colors.scss';

.adminMainLayout {
  display: grid;
  grid-template-areas:
    'an ah '
    'an am ';
  grid-auto-rows: 60px auto 1fr;
  height: 100vh;

  .adminHeaderLayout {
    grid-area: ah;
    height: px(60);
    padding: px(16);
    box-sizing: border-box;
    border-bottom: px(1) solid $borderColor;
    @include flexLayout(row, space-between, center, 0);
  }
  .adminNavLayout,
  .adminMobileNav {
    grid-area: an;
    padding: px(8);
    box-sizing: border-box;
    border-right: px(1) solid $borderColor;

    .avatar {
      margin-block: px(16);
      @include flexLayout(row, flex-start, center, 16);
      padding: px(8);
      box-sizing: border-box;
    }

    .list {
      list-style: none;
      padding: 0;
      box-sizing: border-box;
      @include flexLayout(column, flex-start, flex-start, 8);
      li {
        width: 100%;
        padding: px(8);
        box-sizing: border-box;
        border-radius: px(4);
        color: $black;
        a {
          @include flexLayout(row, flex-start, center, 8);
          text-decoration: none;
          color: inherit;
          font-size: px(13);
          font-weight: 400;
        }
        &:hover:not(.actived) {
          background-color: #eaeaea;
          transition: 0.2s;
        }
      }
      .actived {
        background-color: $black;
        color: $white;
      }
    }
  }
  > main {
    grid-area: am;
    padding: 16px;
    box-sizing: border-box;
    background-color: #fafafa;
  }

  .adminMobileNavContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    &.open {
      display: block;
    }
    .adminMobileNav {
      animation: slideIn 0.3s;
      width: px(200);
      background-color: $white;
      height: 100%;
    }
  }
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@media (width < 768px) {
  .adminMainLayout {
    grid-auto-columns: 0 auto 1fr;
    .adminNavLayout {
      display: none;
    }
  }
}
@media (width > 768px) {
  .adminMainLayout {
    grid-auto-columns: 200px auto 1fr;
  }
}
